/* Keyframes */

@keyframes header-transition-in {

    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }

}



/* General */

body {
    color: hsl(221, 30%, 12%); 
    display: flex;
    justify-content: center;
    overflow: overlay;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Lexend Deca' ,sans-serif; 
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    width: 24px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(221, 35%, 27%);
    background-clip: padding-box;
    border: 2px solid hsla(0, 0%, 0%, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(221, 35%, 32%);
}

::-webkit-scrollbar-thumb:active {
    background-color: hsl(221, 35%, 35%);
}

/* Body */

.body.main {
    padding-block: 130px 900px;
    background-image: url(images/leaves-main.jpg);
}

.body.lgn,
.body.sgnp {
    background-image: url(images/leaves-registration.jpg);
}

/* Header */

.header,
.home-link {
    display: flex;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    height: 60px;  
    z-index: 100;
    padding: 10px 60px 0 40px;

    animation: header-transition-in 0.7s;
}

.home-link {
    font-size: 20px;
    color: white;
    font-weight: 400;
    transition: text-shadow 0.3s;
}

.home-link:hover {
    text-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.2); 
}

.plannt-logo {
    width: 40px;
    height: 40px;
}

.lgn-sgnp-container a {
    pointer-events: none;
}

.lgn-button-header,
.sgnp-button-header,
.login-button,
.signup-button {
    pointer-events: all;
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    color: white;
}

.lgn-button-header {
    background-color: inherit;
    margin-right: 6px;
    transition: color 0.5s;
}

.lgn-button-header:hover {
    color:hsl(216, 30%, 45%);
}

.sgnp-button-header {
    background: linear-gradient(190deg, hsla(0, 0%, 9%, 0.25), hsla(0, 0%, 0%, 0));
    background-color:hsl(136, 30%, 55%);
}

.sgnp-button-header,
.login-button,
.signup-button {
    transition: background-color 0.5s;
    border-radius: 4px;
}


.sgnp-button-header:hover,
.login-button:hover,
.signup-button:hover {
    background-color: transparent;
}



/* Main */

.main-container {
    display: block;
    box-sizing: border-box;
    padding: 30px 0 0 50px;
    width: 500px;
    height: 600px;
    font-weight: 400;
    background-color: azure;
}

.main-container-header,
.leaf-container,
.clock-container {
    display: flex;
    justify-content: start;
    align-items: center;
}

.leaf-container,
.clock-container {
    margin-right: 18px;
}

.leaf-logo,
.clock-logo {
    height: 25px;
    width: 25px;
    margin-right: 4px;
}


/* Login page */

.lgn-container,
.sgnp-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 30px 50px 50px 50px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background: linear-gradient(190deg, hsla(0, 0%, 0%, 0.5) 30%, hsla(0, 0%, 100%, 0.02));
    box-shadow: 0px 0px 10px hsla(221, 0%, 14%, 0.5);
    backdrop-filter: blur(3px);
}

.lgn-container .title,
.lgn-container .content,
.sgnp-container .title,
.sgnp-container .sub-title,
.sgnp-container .content {
    display: flex;
}


.lgn-container .title,
.sgnp-container .title,
.sgnp-container .sub-title {
    justify-content: center;
    font-weight: 300;
    color:hsl(136, 30%, 70%);
}

.lgn-container .title,
.sgnp-container .title {
    font-size: 20px;
}

.lgn-container .title,
.sgnp-container .sub-title  {
    margin-bottom: 50px;
}

.lgn-container .content,
.sgnp-container .content {
    flex-direction: column;
}

.lgn-container .content input[type="text"], 
.lgn-container .content input[type = "password"],
.sgnp-container .content input[type="text"], 
.sgnp-container .content input[type = "password"] {
    display: block;
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    background-color: transparent;
    border-bottom:hsl(0, 0%, 75%) solid 2px;
    color: white;
    transition: border-bottom 0.3s;
    margin-bottom: 6px;
}

.sgnp-container .content input[type = "password"] {
    margin-bottom: 19px;
}

.lgn-container .content input:focus,
.sgnp-container .content input:focus {
    border-bottom:hsl(0, 0%, 100%) solid 2px;
}

.sgnp-container .title {
    margin-bottom: 4px;
}

.email-container,
.name-container,
.psw-container.signup {
    margin-bottom: 30px;
}


.email-container p,
.psw-container p,
.name-container p{
    margin-bottom: 8px;
}

.forgot-psw-container {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
}

.forgot-psw {
    font-size: 10px;
    font-weight: 300;
    color: white;
}

.login-button,
.signup-button {
    font-weight: 300;
    background: linear-gradient(190deg, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 0%, 0));
}

.login-button {
    background-color:hsl(216, 30%, 45%);
}

.signup-button {
    background-color:hsl(136, 30%, 45%);
}
