
/* General */

body {
    color: hsl(221, 35%, 20%); 
    display: flex;
    justify-content: center;
    overflow: overlay;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Lexend Deca' ,sans-serif; 
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    width: 24px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(221, 35%, 27%);
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(221, 35%, 32%);
}

::-webkit-scrollbar-thumb:active {
    background-color: hsl(221, 35%, 35%);
}

/* Body */

.body.main {
    background-image: url(leaves-main.jpg);
    padding-block: 130px 3000px;
}

.body.login {
    background-image: url(leaves-login.jpg)
}

.bg-img-login {
    position: fixed;
    left: 0;
    right: 0;
    top: -10px;
    z-index: -1;  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

/* Header */

.header,
.home-link {
    display: flex;
    align-items: center;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    height: 60px;  
    z-index: 100;
    padding: 10px 60px 0 40px;
}

.home-link {
    font-size: 20px;
    color: white;
    font-weight: 400; 
}

.logo-img {
    width: 40px;
    height: 40px;
}

.login-signup-container a {
    pointer-events: none;
}

.login-button-header,
.signup-button-header,
.login-button {
    pointer-events: all;
    cursor: pointer;
    border: none;
    background-color: inherit;
    border-radius: 4px;
    padding: 8px 15px;
}

.login-button-header {
    color: hsl(221, 35%, 90%);
    transition: color 0.25s;
    margin-right: 6px;
}

.login-button-header:hover {
    color:hsl(221, 35%, 20%);
}

.signup-button-header,
.login-button {
    background-color: hsl(221, 35%, 27%);
    color: white;
    transition: background-color 0.25s;
}

.signup-button-header:hover,
.login-button:hover {
    background-color: hsl(221, 35%, 32%);
}



/* Main */

.main-container {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-weight: 400;
}


/* Login page */

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 30px 50px 50px 50px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color:hsla(0, 0%, 100%, 0.015);
    background: linear-gradient(190deg, hsla(0, 0%, 100%, 0.06), hsla(0, 0%, 0%, 0.1));
    box-shadow: 0px 0px 10px hsla(221, 0%, 14%, 0.5);
}

.top,
.bottom {
    display: flex;
}

.top {
    justify-content: center;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 20px;
    color:hsl(221, 35%, 10%)
}

.bottom {
    flex-direction: column;
}

.bottom input[type="text"], 
.bottom input[type = "password"] {
    width: 200px;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 300;
    background-color: transparent;
    border-bottom:hsl(0, 0%, 80%) solid 2px;
    color: white;
    transition: border-bottom 0.3s;
}

.bottom input:focus {
    border-bottom:hsl(0, 0%, 100%) solid 2px;
}

.email-container,
.password-container {
    margin-bottom: 30px;
}

.email-container p,
.password-container p {
    margin: 0 0 8px 0;
}

.login-button {
    font-weight: 300;
    margin-top: 35px;
}