/* Keyframes */

@keyframes header-transition-in {

    0% {
        transform: translateY(-100%);
        filter: blur(3px);
    }

    100% {
        transform: translateY(0);
        filter: none;
    }

}

@keyframes body-transition-in {

    0% {
        filter: blur(3px);
    }

    100% {
        filter: none;
    }
}


/* General */

:root {
    --light-green: hsl(136, 30%, 70%);
    --green: hsl(136, 30%, 55%);
    --dark-green: hsl(136, 30%, 45%);

    --light-blue: hsl(221, 30%, 60%);
    --blue: hsl(221, 30%, 52%); 
    --dark-blue: hsl(221, 30%, 45%); 
    
    --black: hsl(221, 30%, 15%);
    --white: hsl(221, 30%, 95%);
}

body {
    display: flex;
    justify-content: center;
    overflow: overlay;
    background-color: var(--light-green);
    color: var(--black);
}

#main main,
.registration-container div {
    animation: body-transition-in 0.7s ease-out;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

* {
    font-family: 'Lexend Deca', Arial, Tahoma;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    width: 24px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue)
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--dark-blue);
}

/* Body */

body#main {
    padding-block: 130px 630px;
    background-image: url(images/leaves-main.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

body#lgn,
body#sgnp {
    padding-block: 0px 825px;
    background-image: url(images/leaves-registration.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;  
    padding: 10px 60px 0 40px;
    z-index: 100;
    animation: header-transition-in 0.8s;
}


.home-link {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--white);
    font-weight: 400;
    transition: text-shadow 0.3s;
}

.home-link:hover {
    text-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.25); 
}

.plannt-logo {
    width: 40px;
    height: 40px;
}

header button {
    pointer-events: all;
    cursor: pointer;
    border: none;
    padding: 8px 15px;
    color: var(--white);
}

.lgn-button-header {
    background-color: transparent;
    margin-right: 6px;
    transition: color 0.5s;
}

.lgn-button-header:hover {
    color: var(--dark-blue);
}

.sgnp-button-header {
    background: linear-gradient(190deg, hsla(0, 0%, 9%, 0.25), hsla(0, 0%, 0%, 0));
    background-color: var(--green);
    transition: background-color 0.5s;
    border-radius: 4px;
}

.sgnp-button-header:hover {
    background-color: transparent;
}

.lgn-sgnp-container a {
    pointer-events: none;
}


/* Main */

#main main {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-inline: 40px;
    overflow: hidden;
    background-color: hsla(221, 30%, 15%, 0.5);
    font-weight: 400;
    color: var(--white);
}

#main main .header,
.leaf-container,
.clock-container,
.plants-container > div {
    display: flex;
    justify-content: start;
    align-items: center;
}

#main main .header {
    padding: 30px 50px;
    background-color: hsla(221, 30%, 50%, 0.03);
    margin-bottom: 20px;
    gap: 18px;
}

#main main .header a {
    color: var(--white);
} 

#main main .header a:hover {
    text-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.25); 
} 

.leaf-logo,
.clock-logo {
    height: 25px;
    width: 25px;
    margin-right: 4px;
}

.plants-container {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.plants-container > div {
    background-color: hsla(221, 30%, 50%, 0.05);
    padding-inline: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.plants-container > div:hover {
    background-color: hsla(221, 30%, 50%, 0.085);
    cursor: pointer;
}

.plant .text {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.plant img {
    width: 120px;
    height: 120px;
}

.plant.pothos img {
    margin-left: -22px;
}

.plant .name {
    font-weight:500;
}

.plant .watering {
    font-weight: 300;
    font-size: 14px;
}

.plant .options img {
    height: 20px;
    width: 20px;
}

.plants-container .add-plant {
    margin: 0;
    padding: 0;
}

.add-plant button{
    margin: 0;
    padding-block: 5px;
    border: none;
    background-color: transparent;
    color: hsl(200, 18%, 60%);
    font-size: 25px;
    font-weight: 500;
    flex: 1;
    cursor: pointer;
}


/* Registration pages */

.registration-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    display: block;
    padding: 30px 50px 50px 50px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    background: linear-gradient(0, hsla(0, 0%, 0%, 0.5) 30%, hsla(0, 0%, 100%, 0.02));
    box-shadow: 0px 0px 5px hsla(0, 0%, 10%, 0.5);
    backdrop-filter: blur(12px);
}

.registration-container .title,
.registration-container .sub-title {
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: var(--light-green);
    margin-bottom: 50px;
    font-size: 20px;
}

#sgnp .title  {
    margin-bottom: 4px
}

#sgnp .sub-title {
    font-size: 12px;
}

.registration-container .content{
    display: flex;
    flex-direction: column;
}

.registration-container input {
    display: block;
    width: 200px;
    padding: 5px;
    margin-bottom: 6px;
    font-size: 13px;
    font-weight: 300;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom:hsl(0, 0%, 75%) solid 2px;
    color: var(--white);
    transition: border-bottom 0.3s;
}

#sgnp input[type = "password"] {
    margin-bottom: 19px;
}

.registration-container input:focus {
    border-bottom: white solid 2px;
}

.email-container,
.name-container,
#sgnp .psw-container,
.forgot-psw-container {
    margin-bottom: 30px;
}


.registration-container p {
    margin-bottom: 8px;
}

.forgot-psw-container {
    display: flex;
    justify-content: end;
    font-size: 10px;
    font-weight: 300;
    color: var(--white);;
}


.registration-container button {
    font-weight: 300;
    background: linear-gradient(190deg, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 0%, 0));
    pointer-events: all;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    color: var(--white);;
    transition: background-color 0.5s;
}

#lgn .lgn-button {
    background-color: var(--dark-blue);
}

#sgnp .sgnp-button {
    background-color: var(--dark-green);
}

#lgn .lgn-button:hover,
#sgnp .sgnp-button:hover {
    background-color: transparent;
}