.header,
.home-link {
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: start;
    height: 60px;
    background-color: hsl(221, 35%, 14%);
    z-index: 100;
}

.home-link {
    margin-left: 20px;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: hsl(116, 100%, 90%);
}

.logo-img {
    width: 40px;
}