.header,
.home-link {
    display: flex;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    justify-content: start;
    height: 65px;
    padding-left: 20px;
    background-color: rgb(28, 33, 44);
}

.home-link {
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: rgb(200, 230, 198);
}

.logo-img {
    width: 40px;
}